/* Topbar Layout start */
.layout-bg {
    background-image: linear-gradient(to right top, #D46FD1, #B575D8, #937AD9, #717DD5, #4E7ECD);
    /* background-image: linear-gradient(to right top, #d46fd1d9, #b575d8de, #937ad9c9, #717dd5bd, #4e7ecd96); */
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
  }
  
  .layout-Topbar {
    padding: 6px 0px;
    justify-content: space-between;
  }
  
  .profile-style {
    border-radius: 50%;
  }
  
  .dropdown-toggle::after {
    display: none !important;
  }
  .dropdown-menu{
    border: none !important;
    box-shadow: 1px 1px 8px 1px #80808047 !important;
  }
  .btn:focus {
    box-shadow: none !important;
  }
  .selectStatus{
    cursor: pointer;
    background: transparent;
    color: white;
    border: none;
    padding: 0px 3px;
    font-weight: 400;
  }
  select:focus-visible {
    outline: none !important;
  }
  .username{
    font-weight: 500;
  }
  .swal-overlay--show-modal .swal-modal {
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .swal-title{
    margin: 0px !important;
  }
  /* Topbar layout end */
  /* Footer Layout start */
  .layout-footer {
    background-image: linear-gradient(to right top, #D46FD1, #B575D8, #937AD9, #717DD5, #4E7ECD);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
  }
  .layout-spacing {
    padding: 5px 0px;
    justify-content: space-between;
  }
  a{
    text-decoration: none !important;
  }
  .FooterLinks{
    padding-left:25px;
  }
  @media(max-width:992px){
    .Responsive-links{
      display: grid;
      text-align: left;
    }
    .FooterLinks{
      padding-left:0px;
    }
}
@media(min-width:1024px){
  .Responsive-links{
    display:flex;
    justify-content: space-around;
  }
}
  /* Footer Layout end */
  /* Pagination css */
.propagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.propage-item {
  margin: 0.15rem;
}

.propage-link {
  text-decoration: none;
  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  border-radius: 0.3125rem;
  font-size: .9375rem;
  padding: 0.3125rem 0.75rem;
  position: relative;
  display: block;
  color: #4b566b;
  background-color: transparent;
  border: 1px solid transparent;
  transition: color .25s ease-in-out, border-color .25s ease-in-out, background-color .25s ease-in-out;
}

.propage-link:hover,
.propage-link.disabled {
  z-index: 2;
  color: #000;
  background-color: #ad6fd4;
  border-color: #ad6fd4;
}

.propage-link i {
  margin-top: -0.125rem;
  vertical-align: middle;
  font-size: 25px;
}

.propage-item .active {
  position: relative;
  z-index: 5;
  cursor: default;
}

.propage-item.active .propage-link {
  z-index: 3;
  color: #fff;
  background: linear-gradient(to right top, #D46FD1, #B575D8, #937AD9, #717DD5, #4E7ECD);
  border-color: transparent;
  box-shadow: 0 0.5rem 1.125rem -0.425rem #36f;
}

.provisually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
/* pagination  */
.Pagination-div {
  display: flex;
  justify-content: right;
}
@media screen and (min-width:320px) and (max-width:768px) {
  .Pagination-div,
  .dataTables_info {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
  }
}
/* end pagination */
  